li {
    font-size: 1rem;
    margin-right: 4rem;

    &.active {
      background-color: #9fb1bcff;
      color: white;
      border-radius: 1.5rem;
      cursor: pointer;
      padding: 1rem;
    }
  }