@import "../variables/variables.scss";

.navBar {
  height: 250px;
  background: $mainColor;
  padding: 50px 60px;
}

.headerContainer {
 color: black;
 width: 100px;
}

.mediaContent {
    display: inline-block;
    width: 43%;
    margin-top: -25px;
}

.navBar a {
  color: $secondaryColor;
  font-size: 25px;
  text-decoration: none;
  border: azure 1px solid;
  border-radius: 1rem;
  padding: .4rem;
  margin: 3px;
  background-color: azure;
}

.navBarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 38%;
  margin-left: 50rem;
  margin-top: 1.5rem;
  border: white 1px solid;
}

.quote {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
