.intro{
    background-color:lightslategray;
    display: flex;

    .left {
        flex: .5;
        overflow: hidden;

        .imgContainer {
            height: 100%;
            width: 85%;
            border-radius: 0% 0% 100% 0%;
            background-color: blanchedalmond;
            overflow: hidden;
            
            .profilePicture {
                height: 100%;
                width: 100%;
            }
        }
        
    }
    
    .right {
        flex: .5;
        display: flex;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-top: 30%;

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1.5rem;

                span {
                    font-size: 1.5rem;
                    color: aqua;
                }
            }
            .arrow {
                position: fixed;
                height: 3vw;
                width: 3vw;
                border-style: solid;
                border-color: white;
                border-width: 0px 1px 1px 0px;
                transform: rotate(45deg);
                animation: arrowBlink 3s infinite;
                display: flex;
                justify-content: last baseline;
            }
                @keyframes arrowBlink {
                    100% {
                        opacity: 0;
                    }
                }
        }
    }
}

