.intro{
    background-color:lightslategray;
    display: flex;

    .left {
        flex: .5;
        overflow: hidden;

        .imgContainer {
            height: 100%;
            width: 85%;
            border-radius: 0% 0% 100% 0%;
            background-color: blanchedalmond;
            overflow: hidden;
            
            .profilePicture {
                height: 100%;
                width: 100%;
            }
        }
        
    }
    
    .right {
        flex: .5;
        display: flex;
        position: relative;
        overflow: hidden;

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
           

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2rem;
            }

             span {
                 font-size: 1.5rem;
                  color: aqua;
            }
            
            .arrow {
                position: absolute;
                height: 3vw;
                width: 3.5vw;
                border-style: solid;
                border-color: white;
                border-width: 0px 1px 1px 0px;
                transform: rotate(45deg);
                animation: arrowBlink 3s infinite;
                margin-top: 10rem;
            }
                @keyframes arrowBlink {
                    100% {
                        opacity: 0;
                    }
                }
        }
    }
}

